<ion-header>

  <ion-navbar>
    <ion-title>Reservas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon item-start name="calendar"></ion-icon>
      <ion-label>Departamento</ion-label>
      <ion-select [(ngModel)]="selectedDepartament" (ngModelChange)="refreshReservation()">
        <ion-option *ngFor="let d of departaments" value="{{ d.id }}"> {{ d.nome }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon item-start name="clock"></ion-icon>
      <ion-label>Data</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD-MM-YYYY" [(ngModel)]="today" (ngModelChange)="refreshReservation()"></ion-datetime>>
    </ion-item>
  </ion-list>

  <ion-grid no-padding>

    <ion-row>
      <ion-col>
          <button ion-button block icon-only (click)="backRoom()">
            <ion-icon name="arrow-dropleft"></ion-icon>
          </button>
      </ion-col>
      <ion-col>
          <button ion-button block [(ngModel)]="selectedRoom" ngDefaultControl>Sala {{ selectedRoom.numero }} </button>
      </ion-col>
      <ion-col>
          <button ion-button block icon-only (click)="nextRoom()">
            <ion-icon name="arrow-dropright"></ion-icon>
          </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-5  class="centralizaHorizontal">
        Horário
      </ion-col>

      <ion-col class="centralizaHorizontal">
        Detalhes
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let p of periods; let i = index">
      <ion-col col-5  class="centralizaHorizontal">
        <h4>{{ p }}</h4>
      </ion-col>

      <ion-col>
        <h4 *ngIf="isAvaible(i)">Disponivel</h4>
        <h4 *ngIf="!isAvaible(i)" [(ngModel)]="reservation" ngDefaultControl>{{ reservation.id }}</h4>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
