<ion-header>

  <ion-navbar>
    <button ion-button menuToggle *ngIf="login.id !== -1">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reservas</ion-title>
    <ion-buttons right>
      <button ion-button outline (click)="chamaLogin()" *ngIf="login.id === -1">Login</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon item-start name="pricetag"></ion-icon>
      <ion-label>Departamento</ion-label>
      <ion-select [(ngModel)]="selectedDepartament" (ngModelChange)="refreshReservation()" okText="Selecionar" cancelText="Cancelar">
        <ion-option *ngFor="let d of departaments" value="{{ d.id }}"> {{ d.nome }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon item-start name="calendar"></ion-icon>
      <ion-label>Data</ion-label>
      <ion-datetime 
        displayFormat="DD/MM/YYYY"
        pickerFormat="DD-MM-YYYY"
        [(ngModel)]="today"
        (ngModelChange)="refreshReservation()"
        doneText="Selecionar"
        cancelText="Cancelar">
      </ion-datetime>>
    </ion-item>
  </ion-list>

  <ion-grid class="btnGrid">

    <ion-row>
      <ion-col>
          <button ion-button block icon-only (click)="backRoom()" class="btnLeft">
            <ion-icon name="arrow-dropleft"></ion-icon>
          </button>
      </ion-col>
      <ion-col class="roomNumber">
        <button ion-button block [(ngModel)]="selectedRoom" ngDefaultControl>Sala {{ selectedRoom.numero }} </button>
      </ion-col>
      <ion-col>
          <button ion-button block icon-only (click)="nextRoom()" class="btnRight">
            <ion-icon name="arrow-dropright"></ion-icon>
          </button>
      </ion-col>
    </ion-row>
</ion-grid>
<ion-grid no-padding class="gridData">
    <ion-row>
      <ion-col col-5  class="centralizaHorizontal">
        Horário
      </ion-col>

      <ion-col class="centralizaHorizontal">
        Detalhes
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let p of periods; let i = index">
      <ion-col col-5  class="centralizaHorizontal">
        <h4>{{ p }}</h4>
      </ion-col>

      <ion-col>
        <div *ngIf="isAvaible(i)">
            Disponivel
            <button ion-button round small style="float:right; margin-right:5%">Reservar</button>
        </div>
        <div *ngIf="!isAvaible(i)">
          <h4 [(ngModel)]="reservation" ngDefaultControl>{{ reservation.id }}</h4>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
