page-reserva-listagem {
    .label {
        margin: 0 0 0 0 !important;
    }

    .content1 {
        //height: 100%;
        margin-bottom: 10px;
    }

    .redimensionaImg {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        margin-right: 5px !important;
        width: 5px !important;
        height: 100%;
    }

    .removeMargem {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0 !important;
        margin-left: 0;
        height: 90%;
    }
}
