<ion-header>

  <ion-navbar>
    <ion-title>Reserva</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>


  <ion-list>

    <ion-item>
      <ion-icon name="person" item-start></ion-icon>
      <ion-label floating>Funcionário</ion-label>
      <ion-input readonly="true" [(ngModel)]="user.nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="calendar" item-start></ion-icon>
      <ion-label floating>Data da Reserva</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" min="{{ today }}" max="{{ 2018 }}" [(ngModel)]="reservation.datareserva" doneText="Confirmar"
        cancelText="Cancelar">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-icon name="briefcase" item-start></ion-icon>
      <ion-label floating>Departamento</ion-label>
      <ion-select [(ngModel)]="reservation.iddepartamento" okText="Selecionar" cancelText="Cancelar">
        <ion-option *ngFor="let d of departaments" value="{{ d.id }}">{{ d.descricao }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon name="bookmarks" item-start></ion-icon>

      <ion-label floating>Sala</ion-label>
      <ion-select [(ngModel)]="reservation.idsala" okText="Selecionar" cancelText="Cancelar">
        <ion-option *ngFor="let r of rooms" value="{{ r.id }}"> {{ r.descricao }} {{ r.numero }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon name="book" item-start></ion-icon>
      <ion-label floating>Disciplina</ion-label>
      <ion-select [(ngModel)]="reservation.iddisciplina" okText="Selecionar" cancelText="Cancelar">
        <ion-option *ngFor="let d of disciplines" value="{{ d.id }}"> {{ d.codigo }} - {{ d.nome }} </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon name="clock" item-start></ion-icon>
      <ion-label floating>Periodo</ion-label>
      <ion-select [(ngModel)]="reservation.periodo" okText="Selecionar" cancelText="Cancelar">
        <ion-option value="1"> 7:45 - 9:25 </ion-option>
        <ion-option value="2"> 9:40 - 12:00 </ion-option>
        <ion-option value="3"> 13:30 - 15:10 </ion-option>
        <ion-option value="4"> 15:30 - 18:00 </ion-option>
        <ion-option value="5"> 19:30 - 21:10 </ion-option>
        <ion-option value="6"> 21:20 - 23:00 </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon name="bookmark" item-start></ion-icon>
      <ion-label floating>Tipo de aula</ion-label>
      <ion-select [(ngModel)]="reservation.tipoaula" okText="Selecionar" cancelText="Cancelar">
        <ion-option value="1"> Prática </ion-option>
        <ion-option value="2"> Teórica </ion-option>
        <ion-option value="3"> Mestrado </ion-option>
        <ion-option value="4"> Especialização </ion-option>
        <ion-option value="5"> Defesa </ion-option>
        <ion-option value="6"> Minicurso </ion-option>
      </ion-select>
    </ion-item>

    <button ion-button block round (click)="save()">Salvar</button>
  </ion-list>


</ion-content>